<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="styles.css" rel="stylesheet"></head>
<body>
    <h2>Welcome to shop online</h2>
<h2>choose what you want to do:</h2>
<form action="/postnew" method="get">
    <button type="submit">Post new</button>
</form>
<form action="/checkpost">
    <button type="submit">check post</button>
</form>
<form action="/myposts" method="get">
    <button type="submit">My Posts</button>
</form>
<% if (user) { %>
<form action="/logout?_method=DELETE" method="post">
    <button type="submit"> Log Out</button>
</form>
<% } else { %>
<form action="/login" method="get">
    <button type="submit"> Log in</button>
</form>
<% } %>
</body>
</html>
