<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Post</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <h1>Modify Post</h1>
    <div class="post">
        <form action="/makenewpost" method="post">
            
            <label for="title">Post title: </label><br>
            <input type="text" id="title" name="title" required>
            <br><br>

            <label for="description">Description: </label><br>
            <textarea name="description" id="description" cols="50" rows="10"></textarea><br><br>
            
            <label for="gatecory">Gatecory: </label><br>
            <input type="checkbox" id="cars" name="category" value="cars">
            <label for="cars">Cars</label><br>
            <input type="checkbox" id="furniture" name="category" value="furniture">
            <label for="furniture">Furniture</label><br>
            <input type="checkbox" id="boats" name="category" value="boats">
            <label for="boats">Boats</label><br>
            <input type="checkbox" id="decoration" name="category" value="decoration">
            <label for="decoration">Decoration</label><br>
            <input type="checkbox" id="sports" name="category" value="sports">
            <label for="sports">Sports</label><br>
            <input type="checkbox" id="electronics" name="category" value="electronics">
            <label for="electronics">Electronics</label><br><br>

            <label for="location">Location: </label><br>
            <input type="text" id="location" name="location" required><br><br>

            <label for="price">Price: </label><br>
            <input type="text" id="price" name="price" required><br><br>

            <label for="delivery">Delivery type: </label><br>
            <input type="radio" id="pickup" name="delivery" value="pickup">
            <label for="pickup">Pickup</label><br>
            <input type="radio" id="shipping" name="delivery" value="shipping">
            <label for="shipping">Shipping</label><br><br>

            <button type="submit">Make new Post</button>
        </form>
    </div> 
    <!-- 
    <script>
        document.getElementById('title').value = titletext
    </script> -->
</body>
</html>

